@import "tailwindcss";

/* Figma theme tokens */
:root {
  --bg: 15 23 42;        /* #0F172A */
  --card: 2 6 23;       /* #020617 */
  --primary: 79 70 229; /* #4F46E5 */
  --secondary: 34 197 94;
  --text: 229 231 235;
  --muted: 148 163 184;
  --border: 30 41 59;
   --color-gray: #87888C;
  --color-mint: #A9DFD8;
  --color-black: #171821;
  --color-green: #029F04;
  --color-dark-navy: #21222D;
  --color-red: #EA1701;
  --color-yellow: #FEB002;
}

/* Global styles */
body {
  /* background-color: rgb(var(--)); */
  color: rgb(var(--text));
}
